---
import { Icon } from 'astro-icon';
---

<button
	class="flex justify-center items-center text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5"
	type="button"
	data-modal-toggle="authentication-modal"
>
	<span class="mr-1">Login</span>
	<Icon name="ph:sign-in-light" class="w-5 h-5" />
</button>
